<% layout('/layouts/boiler.ejs') %>
<body>


<% if (!listings || listings.length==0) { %>
  <div class="container text-center my-5">
    <h3 class="mb-3 text-muted">No listings created</h3>
    <form action="/listings/new" method="GET">
      <button type="submit" class="btn btn-danger">
        Create One
      </button>
    </form>
  </div>

<% } else { %>
  <div class="container">
    <div class="filters">
      <a href="/listings/filters/Trending" class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </a>
    
      <a href="/listings/filters/Mountains" class="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
      </a>
    
      <a href="/listings/filters/Pools" class="filter">
        <i class="fa-solid fa-water-ladder"></i>
        <p>Pools</p>
      </a>
    
      <a href="/listings/filters/Farm House" class="filter">
        <i class="fa-solid fa-tractor"></i>
        <p>Farm House</p>
      </a>
    
      <a href="/listings/filters/Arctic" class="filter">
        <i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
      </a>
    
      <a href="/listings/filters/Camping" class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </a>
    
      <a href="/listings/filters/City" class="filter">
        <i class="fa-solid fa-city"></i>
        <p>City</p>
      </a>

      <a href="/listings/filters/Rooms" class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </a>
    
      <a href="/listings/filters/Castles" class="filter">
        <i class="fa-solid fa-chess-rook"></i>
        <p>Castles</p>
      </a>
    
      <div id="toggler">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="switchCheckReverse" style="cursor: pointer;">
          <label class="form-check-label" for="switchCheckReverse">Show Price with Tax</label>
        </div>
      </div>
    </div>
  </div>

    <div class="row mt-4 mb-4">
      <% for(let list of listings) { %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <a href="/listings/<%= list._id %>?from=<%= currentPage %>" class="text-decoration-none text-dark">
            <div class="card h-100 shadow border-light listing-index-card">
              <img src="<%= list.image.url %>" class="card-img-top rounded-top" alt="">
              <div class="card-body">
                <h5 class="card-title mb-2"><%= list.title %></h5>
                <p class="mb-0">
                  &#8377; <%= list.price.toLocaleString("en-IN") %> /night
                  <em class="tax">+ 13% GST</em>
                </p>
              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>

  <script>
    let toggler = document.getElementById("switchCheckReverse");
    let taxElements = document.getElementsByClassName("tax");

    toggler.addEventListener("click", () => {
      for (let t of taxElements) {
        t.style.display = (t.style.display !== "inline") ? "inline" : "none";
      }
    });
  
    document.addEventListener("DOMContentLoaded", () => {
      const currentPath = window.location.pathname;

console.log(currentPath);
if (currentPath === "/listings/destination") {
    let search_inp = document.querySelector(".search");
    if (search_inp) {
        search_inp.value = "<%= currentPage %>"; // You can still safely use EJS here
    }
}
});

</script>
<% } %>
</body>
